.carousel-container {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.slick-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slick-slide div {
  outline: white;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  opacity: 0.25;
}

.slick-dots li button:focus:before {
  opacity: 0.25 !important;
}

.slick-dots li.slick-active button:focus:before {
  opacity: .75 !important;
}