.landing-container {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.typing-effect {
  display: inline; /* Ensure the element is inline to allow text wrapping */
  white-space: normal; /* Allow the text to wrap */
  position: relative; /* Position relative for cursor placement */
  line-height: 1.5;
  padding-bottom: 20px;
  /* white-space: nowrap; */
  /* display: flex; */
  display: inline-block;
}

.bold-text {
  font-weight: bold;
}

.flex-container {
  display: flex;
  align-items: center;
}