.resource-link {
  color: #ffffff;
  text-decoration: none;
}

.resource-link:hover {
  text-decoration: underline;
}

.resource-name {
  color: #ffffff;
  text-decoration: none;
}

.select-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
  width: auto;
}

.select-wrapper span {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  margin-bottom: 28px;
  width: auto;
}

.resources .dropdown-container {
  /* width: 100%;
  max-width: 300px; */
  margin: 0 auto;
}

.resources select {
  padding: 13px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  border-color: #2e2a50;
  background-color: #2e2a50;
  color: #ffffff;
  margin-bottom: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  width: auto;
  min-width: 150px;
  max-width: 100%;
  box-sizing: border-box;
}

.resources select:focus {
  outline: none;
}

.resources ul {
  list-style-type: disc;
  padding-left: 20px;
}

.resources li {
  margin: 10px 0;
  padding: 8px;
  color: #2c2548;
  font-weight: bold;
  display: flex;
  align-items: center;
  display: list-item; 
}

.resources li a {
  color:  #2c2548;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.resources li a:hover {
  text-decoration: underline;
}

.resources h2 {
  font-size: 1.75em;
  color:  #2c2548;
  margin-bottom: 15px;
  text-align: left;
}

.resources .content-container {
  padding: 0 20px;
  /* max-height: 600px; */
  max-width: 1000px;
  margin: 0 auto;
}

.resources .nav-tabs {
  display: flex;
  border-bottom: 2px solid #4d4687;
  padding-left: 20px;
}

.resources .nav-tabs a {
  padding: 10px 20px;
  text-decoration: none;
  color: #ece4f7;
  font-weight: bold;
  background-color: #2e2a50;
  border-radius: 10px 10px 0 0;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.resources .nav-tabs a:hover,
.resources .nav-tabs a.active {
  background-color: #6c63b2;
  color: #ffffff;
}

.resources .content-section {
  padding: 20px;
  background-color: #f0e7ff;
  border-radius: 0 0 10px 10px;
}
.resources .subcategory-section {
  background-color: #2e2a50;
  padding: 30px;
  margin-bottom: 15px;
  margin-right: 10px;
  border-radius: 15px;
  min-height: 275px;
  min-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  box-sizing: border-box;
}

.resources .subcategory-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.resources .subcategory-section h3 {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.resources .subcategory-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.resources .subcategory-section li {
  margin: 10px 0;
  color: white;
  font-weight: bold;
  display: list-item;
  align-items: center;
}

.resources .subcategory-section li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.resources .subcategory-section li a:hover {
  text-decoration: underline;
}
